html {
	height: 100%;
	width: 100%;
	font-family: Arial, Helvetica, sans-serif;
	padding :0; 
	margin:0;
	overflow: auto;
}

body {height: 100%; width: 100%; margin: 0; padding: 0; overflow-x: hidden; overflow-y: auto}

.myCustomMouseOverHighlight {
   position: absolute;
   cursor: pointer !important;
   pointer-events: auto;
   background: #ffff4d;
}

.errorHighlight {
   position: absolute;
   border-bottom: 1px dashed red;
}

.command_name {
	font-weight: bold;
}

.command_argument {
	font-style: italic;
}

.command_type {
	font-weight: bold;
}

.command_type_description {
	font-weight: normal;
}

.command_description {
	font-weight: normal;
}

.query_button {
	color: white;
	margin: 12px 10px;
	padding: 10px 10px;
    text-align: right;
    vertical-align: middle;
    text-decoration: none;
    font-size: 14px;
    border-radius: 4px;
    font-weight: bold;
    background-image: url("../images/query.png");
    background-repeat: no-repeat;
   	background-origin: content-box;
    background-color: #afb42b;
    float: left;
    width: 75px;
    height: 14px;
}

.autosuggest_text {
	margin: 0px 0px;
	padding: 0px 0px;
    border: 0px solid #afb42b;
    z-index: 100;
    background-color: rgba(255, 255, 255, 0.9);
    color: #494949;
    text-align: right;
}

.query_progress_button {
	color: white;
	margin: 12px 10px;
	padding: 10px 10px;
    text-align: right;
    vertical-align: middle;
    text-decoration: none;
    font-size: 14px;
    border-radius: 4px;
    font-weight: bold;
    background-image: url("../images/spin.gif");
    background-repeat: no-repeat;
   	background-origin: content-box;
    background-color: #afb42b;
    float: left;
    width: 75px;
    height: 14px;
}

#explorer_button {
	color: white;
	margin: 12px 10px;
	padding: 10px 10px;
    text-align: right;
    vertical-align: middle;
    text-decoration: none;
    font-size: 14px;
    border-radius: 4px;
    font-weight: bold;
    background-image: url("../images/explore.png");
    background-repeat: no-repeat;
   	background-origin: content-box;
    background-color: #afb42b;
    float: left;
    width: 95px;
    height: 14px;
}

#download_button {
	color: white;
	margin: 12px 180px 10px 20px;
	padding: 10px 10px;
    text-align: right;
    vertical-align: middle;
    text-decoration: none;
    font-size: 14px;
    border-radius: 4px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-image: url("../images/download.png");
    background-repeat: no-repeat;
   	background-origin: content-box;
    background-color: #afb42b;
    float: left;
    width: 178px;
    height: 14px;
}

#main_div {
	width: 1032px;
	//height: 99%;
	margin: auto;
	border: 1px solid #d8d8d8;
}

#minimize_button {
	height: 30px;
	width: 30px;
	vertical-align: middle;
	float: right;
	margin: 15px 0px;
	margin-right: 10px;
	background-repeat: no-repeat;
	background-origin: content-box;
	background-image: url("../images/minimize.png");
}

#maximize_button {
	height: 30px;
	width: 30px;
	vertical-align: middle;
	float: right;
	margin: 15px 10px;
	background-repeat: no-repeat;
	background-origin: content-box;
	background-image: url("../images/close.png");
}

#normal_size_button {
	height: 30px;
	width: 30px;
	vertical-align: middle;
	float: right;
	margin: 15px 10px;
	background-repeat: no-repeat;
	background-origin: content-box;
	background-image: url("../images/normal_size.png");
}

#top_bar {
	background-color: #202020;
	width: auto;
	height: 60px;
	box-shadow: 2px 2px 2px #888888;
}

#query_bar {
	background-color: #202020;
	height: 60px;
	position: absolute;
	left: 0px;
	right: 0px;
}

#logo {
	padding: 10px 20px;	
	float:left;
	width:42px;
	height:42px;
}

#logo_text {
	font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: white;
    vertical-align: middle;
    padding: 20px 80px;
}

.info_text {
	padding: 30px 0px 10px 40px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: #616161;
}

.info_text_bold {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #616161;
}

#info_bar {
	width: 100%;
	height: 350px;
}

#query_box_div_left {
	position: absolute;
	left: 0px;
	right: 0%;
	bottom: 0px;
	top: 60px;	
}

#query_box {
	background-color: #eeeeee;
	padding: 10px 0px 10px 10px;
	padding-bottom: 0px;
	margin-bottom: 0px;
	resize: none;
	font-family: "Courier New", Courier, monospace;
	font-size: 16px;
	color: #4c4c4c;
	border: none;
	position: relative;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
}

#var_top_bar {
	background-color: #d8d8d8;
	height: 30px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	width: 370px;
	position: absolute;
	left: 663px;
	top: 60px;
}

#var_top_left {
	background-color: #eeeeee;
	height: 30px;
	width: 689px;
	display: inline-block;
	padding-right: 0px;
	margin-right: 0px;
}

#bottom_div {
	background-color: #eeeeee;
	width: 1033px; 
	border: none;
	position: absolute;
	top: 321px;
	bottom: 20px;
}

.var_button {
	margin: 9px 10px;
	text-align: right;
    float: left;
    text-decoration: none;
    color: #494949;
}

.var_button_selected {
	margin: 5px 10px;
	text-align: right;
    float: left;
    text-decoration: none;
    color: #494949;
    background-color: white;
    border-radius: 12px;
    height: 20px;
}

.var_button_unselected {
	margin: 5px 10px;
	text-align: right;
    float: left;
    text-decoration: none;
    color: #494949;
    height: 20px;
}

.var_button_text {
	margin: 4px 6px;
	text-align: right;
    float: left;
    text-decoration: none;
    color: #494949;
}

#var_list {
	margin-bottom: 0px;
	margin-top: 0px;
    list-style-image: url("../images/var_list.png");
    width: 300px;
	overflow: auto;
	position: absolute;
	bottom: 0px;
	top: 100px;
	left: 660px;
}

.var_list_item {
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	color: #494949;
}

#chart_div {
	padding: 20px 40px;
}

.chart {
	padding: 0px 20px 0px 0px;
	height: 100px;
}

.autosuggest_div { 	
	width: 620px;
    position: absolute;
    border: 2px solid #afb42b;
    z-index: 100;
    font-size: 80%;
    background-color: rgba(255, 255, 255, 0.9);
    color: #494949;
}

.autosuggest_help_inner {
	width: auto;
	height: auto;
	padding: 10px 10px 10px 10px;
}

.autosuggest_help { 	
	width: 300px;
	height: 300px;
    position: absolute;
    border: 1px solid gray;
    margin: 10 10 10 10;
    z-index: 100;
    font-size: 80%;
    background-color: #ffffca;
    color: #494949;
}

#search_var_button {
	height: 20px;
	width: 22px;
	float: right;
	margin: 2px 0px;
	margin-right: 5px;
	background-repeat: no-repeat;
	background-origin: content-box;
	background-color: #d8d8d8;
	border: none;
	background-image: url("../images/search.png");
}

#query_time_text {
	font-family: Arial, Helvetica, sans-serif;
	margin: 10px 10px;
	font-size: 12px;
	color: #787878;
	visibility: hidden;
}

#star_chart {
	height: 463px;
	width: 463px;
	background-color: white;
	box-shadow: 2px 2px 2px #888888;
	margin: 20px 0px 0px 20px;
	float: left;
}

#cohort_demographics {
	width: 440px;
	height: 440px;
	float:right;
	margin: 20px 80px 0px 0px;
}

#query_results_div {
	overflow-y:scroll;
	height: 600px;
	width: 100%;
}

#query_results_div::-webkit-scrollbar {
    -webkit-appearance: none;
}

#query_results_div::-webkit-scrollbar:vertical {
    width: 11px;
}

#query_results_div::-webkit-scrollbar:horizontal {
    height: 11px;
}

#query_results_div::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 2px solid white; /* should match background, can't be transparent */
    background-color: rgba(0, 0, 0, .5);
}

#query_results_div::-webkit-scrollbar-track { 
    background-color: #fff; 
    border-radius: 8px; 
} 

#cohort_charts {
	margin: 500px 20px 4px 20px;
	height: 580px;
	width: auto;
}

.cohort_description {
	color: white;
	margin-top: 0px;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 0px;
	padding-left: 5px;
	padding-bottom: 10px;
	padding-right: 0px;
	padding-top: 10px;
    text-align: left;
    vertical-align: middle;
    text-decoration: none;
 	font-size: 18px;
	color: #6a6a6a;
    float: left;
    width: 458px;
    height: 14px;
    background-image: url("../images/triangle_down.png");
    background-repeat: no-repeat;
   	background-origin: content-box; 
}

.cohort_description_label_normal {
	padding: 10px 3px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: #616161;
}

.cohort_description_label_start {
	padding: 10px 3px 0px 40px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: #616161;
}

.cohort_description_label_bold {
	padding: 10px 3px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #616161;
}

.value_chart_left {
	height: 260px;
	background-color: white;
	width: 463px;
	margin-right: 38px;
	box-shadow: 2px 2px 2px #888888;
	margin-bottom: 30px;
}

.value_chart_right {
	height: 260px;
	width: 463px;
	background-color: white;
	box-shadow: 2px 2px 2px #888888;
	margin-bottom: 30px;
}

.insert_variable_button {
	color: #2a8cc7;
	text-decoration: none;
	padding-left: 5px;
	font-size: 14px;
}

.variable_content {
	word-wrap: break-word;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 12px;
	color: #494949;
}

#canvas_tooltip {
	background-color: #6a6a6a;
	font-size: 14px;
	color: white;
}
